:root {
    --color-1: #171717;
    --color-2: #2B2B2B;
    --color-3: #3D3D3D;
    --color-4: #5C5C5C;
    --color-5: #D1D1D1;
}

body {
    margin: 0px;
    margin-top: 10px;
    gap: 10px;
    background-color: var(--color-1);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 10px);
    align-items: center;
}

#mainCanvas {
    margin: 5px auto;
}

footer {
    width: 100%;
    padding: 16px;
    border-top: solid 2px var(--color-2);
    background-color: var(--color-3);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-items: center;
    margin-top: auto;
}

a {
    font-family: arial;
    color: var(--color-5);
}

.demoBoxContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.demoBox {
    border-radius: 10px;
    border: solid 2px var(--color-3);
    background-color: var(--color-2);
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
    align-items: center;
}

.demoBox>img {
    border-radius: 5px;
}
