body {
  margin: 0px;
  background-color: #333;
  overflow-x: hidden;
}

#mainCanvas {
  margin: 5px;
}

footer {
  height: 50px;
  background-color: #2a2a2a;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  align-items: center;
}

a {
  font-family: arial;
  color: #2446ef;
}

.demoBoxContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.demoBox {
  border-radius: 10px;
  border: solid 2px #222;
  background-color: #2a2a2a;
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 5px;
  align-items: center;
}

.demoBox>img {
  border-radius: 5px;
}